.table-item {
  width: 50%;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.table-item:last-of-type {
  border-bottom: none;
}

.table-item__title {
  padding-left: 30px;
}

.table-item__value {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
  padding-left: 20px;
}
