.table-item {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.table-item:last-of-type {
  border-bottom: none;
}

.table-item__content {
  width: 50%;
}

.table-item__title_text {
  padding-left: 30px;
  margin: 10px 0;
}

.table-item__value_text {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
  padding-left: 15px;
  margin: 0;
}
